* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin-navbar {
  position: sticky;
  top: 0;
  padding: 7px;
  background-color: #0a3c53;
}
.admin-active {
  background-color: #06212e;
  margin-right: 10px;
}
.admin_links p a:hover {
  cursor: pointer;
}

.admin-navbar .admin_links {
  margin-left: auto;
  width: 30%;
  display: flex;
}
.admin-navbar .admin_links a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.admin-log-out a:hover {
  background-color: red;
  border-radius: 5px;
}
