* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
.student-profile {
  border: 1px solid black;
  width: 30%;
  height: 90vh;
  margin: 10px auto;
}
.student-profile .title {
  background-color: #0a3c53;
  color: white;
  padding: 10px;
}
.info-content {
  padding: 10px;
}
